html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
    /* padding: inherit; */
    margin: inherit;
}

ul {
    list-style-type: none;
}

header,
.main-article,
.main-article * {
    background-color: #1F2937;
}

header a {
    text-decoration: none;
}

.header-right a {
    color: #F9FAF8;
    font-size: 24px;
}

.header-left a,
.header-left a:visited,
.header-left a:hover,
.header-left a:active {
    color: #E5E7EB;
}

.main-article h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

.header-left a,
.main-article p {
    color: #E5E7EB;
    color: 18px;
}

header {
    /* padding: 8px 64px; */
}


header * {
    padding: 0;
    margin: 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding: 20px 0;
    margin: 0 auto;
}

.header-left {
    display: flex;
    gap: 24px;
    align-items: center;
}

.main-article {
    display: block;
    width: 100%;
}

.main-article-content {
    width: 80%;
    margin: 0 auto;
    display: flex;
    margin-bottom: 20px;
}

.main-article-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
}

.signup-button {
    color: white;
    background-color: #3882F6;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 6px 12px;
}

.main-article-right {
    width: 400px;
    height: 300px;
    border: 1px solid black;
    position:relative;
    /* padding-top:50%; */
    
    
}

.main-article-img {
    border: 1px solid black;
    position:absolute;
    top:0;
    left:0;
    width:100%;
}

.article-second h2 {
    text-align: center;
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
}

.article-second .cards-container {
    display: flex;
    justify-content: space-between;
    
    flex-wrap: nowrap;
    padding: 0 auto;
    /* border: 2px solid red; */
    width: 60%;
    margin: 10px auto 20px auto;
}

.card {
    /* border: 2px solid hotpink; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* flex-basis: 100px; */
    
}

.card img {
    width: 150px;
    height: 150px;
    border: 2px solid #3882F6;
    border-radius: 5px;
}

.card p {
    width: 150px;
    font-size: 10px;
}

.article-third {
    display: flex;
    flex-direction: column;
    color: #1F2937;
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    padding: 40px 0;
    & > * {
        width: 60%;
    }
    & > p:first-child {
        /* border: 2px solid red; */
        align-self: center;
        padding: 0;
    }
    & > p:last-child {
        /* border: 2px solid red; */
        align-self: center;
        text-align: right;
        padding: 0;
    }
}

.signup-container {
    display: flex;
    align-items: center;
    text-align: left;
    color: white;
    background-color: #3882F6;
    width: 50%;
    /* height: 200px; */
    border-radius: 10px;
    padding: 20px 5px;
    margin: 40px auto;
    & > * {
        margin: 10px auto;
    }
}

.signup-container-right button {
    color: white;
    padding: 5px 15px;
    border: 1px solid white;
    border-radius: 4px;
    background: transparent;
}
